/* CSS TEXT COLOR VARIABLE  */
:root{
    --redColor:#E6533C;
    --whiteColor:#ffffff;
    --blackColor:#000000;
}
/* CSS BACKGROUND COLOR VARIABLE  */
:root{
    --backgroundColor:#222222;
}
/*......... CSS FONT-FAMILY..........*/
:root{
    --inter-font-family: "Inter", sans-serif;
    --maima-font-family: "Rubik", sans-serif;
}
/*......... CSS FONT-WEIGHT..........*/
:root{
    --fontWeightRegular:400;
    --fontWeightSemiBold:600;
    --fontWeightExtraBold:800;
    --fontWeightBlack:900;
}




/* COMMON SECTION STYLE START FROM HERE */
body{
    background-color: black;
}
.common-section-style{
    max-width: 90%;
    margin: 3rem auto;
    font-family: var(--inter-font-family);
}



/* COMMON BUTTON STYLE START FROM HERE */
.common-btn{
    color:var(--whiteColor);
    background-color: var(--redColor);
    font-weight: var(--fontWeightSemiBold);
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    margin-left: 1rem;
    border-radius: 100px;
}
/*.......... NAVBAR STYLE START FROM HERE............ */
.nav-brand{
    font-size: 2rem;
    font-weight: var(--fontWeightExtraBold);
    font-style: italic;
    color: var(--redColor);
}
nav{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
#humbarger-menu{
    color: var(--whiteColor);
    font-size: 3rem;
    font-weight: var(--fontWeightBlack);
    display: none;
}
nav .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav .nav-links, .nav-item{
    list-style: none;
}
nav .nav-links, .nav-item, .nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: var(--fontWeightRegular);
    color: var(--whiteColor);
}
#active-link{
    background-color: var(--redColor);
    padding: 5px 10px;
    border-radius: 100px;
}
/*.......... BANNER STYLE START FROM HERE............ */
.banner{
    display: flex;
    align-items: center;
    gap: 50px;
}
.banner-title{
    font-weight: var(--fontWeightBlack);
    color: var(--whiteColor); 
    font-size: 4.5rem;
    margin: 0;
}
.banner-description{
    color: #3f4140;
    font-size: 1rem;
    margin: 3rem auto;
    font-weight: var(--fontWeightRegular);
}
.banner-btn1{
    background-color: var(--redColor);
}
.banner-btn2{
    background-color:transparent;
    border: 1px solid var(--whiteColor);
}
.freeWorkOut{
    position: absolute;     
    top: 353px;
    right: 56px;
    display: flex;
    width: 200px;
    padding: 10px 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--whiteColor);
    background-color: var(--backgroundColor);
}
#freeWorkOut2{
    position: absolute;
    top: 571px;
    right: 306px;
}
.freeWorkOut div h1, p{
    margin: 0;
} 
/* Habit section style start from here */

.habit-content{
    text-align: center;
}
.habit-content-title{
    color: var(--whiteColor);
    font-weight: var(--fontWeightBlack);
    font-size: 3rem;
    margin: 0;
}
.habit-content-description{
    color: #3f4140;
    font-weight: var(--fontWeightRegular);
    font-size: 1rem;
    font-family: var(--inter-font-family);
    margin: 12px auto;
}
.habit-boxs{
    display: grid;
    grid-template-columns: repeat(4, minmax(230px, 1fr));
    gap: 2.5rem;
    text-align: center;
    margin-top: 3rem;
}
.habit-box-img{
    border-radius: 100%;
    margin-bottom: 2rem;
}
.habit-box-title{
    margin: 0;
    font-size: var(1rem);
    color: var(--whiteColor);
    font-weight: var(--fontWeightSemiBold);
}
.habit-box-description{
    font-size:0.875rem;
    margin-top: 6px;
    color: #3f4140;
    font-weight: var(--fontWeightRegular);
}