/* CSS TEXT COLOR VARIABLE  */
:root{
    --redColor:#E6533C;
    --whiteColor:#ffffff;
    --blackColor:#000000;
}
/* CSS BACKGROUND COLOR VARIABLE  */
:root{
    --backgroundColor:#222222;
}
/*......... CSS FONT-FAMILY..........*/
:root{
    --inter-font-family: "Inter", sans-serif;
    --maima-font-family: "Rubik", sans-serif;
}
/*......... CSS FONT-WEIGHT..........*/
:root{
    --fontWeightRegular:400;
    --fontWeightSemiBold:600;
    --fontWeightExtraBold:800;
    --fontWeightBlack:900;
}

/* COMMON SECTION STYLE START FROM HERE */
body{
    background-color: rgb(36, 24, 24);
}
.common-section-style{
    max-width: 90%;
    margin: 3rem auto;
    font-family: var(--inter-font-family);
    border: 2px solid red;
}

/*.......... NAVBAR STYLE START FROM HERE............ */
.nav-brand{
    font-size: 2rem;
    font-weight: var(--fontWeightExtraBold);
    font-style: italic;
    color: var(--redColor);
}
nav{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}
#humbarger-menu{
    color: var(--whiteColor);
    font-size: 3rem;
    font-weight: var(--fontWeightBlack);
    display: none;
}
nav .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav .nav-links, .nav-item{
    list-style: none;
}
nav .nav-links, .nav-item, .nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: var(--fontWeightRegular);
    color: var(--whiteColor);
}
#active-link{
    background-color: var(--redColor);
    padding: 5px 10px;
    border-radius: 100px;
}